@import './variables';

#contact{
    background: white;
    iframe{
        width:100%;
    }
    .social{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding:5%;
        @media #{$breakpoint}{
            padding: 3%;
        }

        i{
            font-size: 20vh; 
            @media #{$breakpoint}{
            font-size: 25vh;
            }
        }


    }
}