@import 'variables';

.container{

    width: 100%;
    max-width: $grid-container-width;
    margin: 0 auto;

    .row{
        &::before, &::after {
        content: "";
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
        }
    }

    [class*='col-']{ //mobile first; after 640px columns with will be adjust according to below function
        width: 100%;
        min-height: 1px;
        float: none;
    }

    @media #{$breakpoint} { 
        [class*='col-']{
            float: left;
        }
        //fn for creating
        @for $i from 1 through $grid-columns{
			.col-#{$i} {
				width: $grid-column-width * $i;
			}
		}
    }    
}
