$grid-columns: 6;
$grid-container-width: 1200px;
$grid-column-width: $grid-container-width / $grid-columns;
$breakpoint: (min-width: 640px);

.container{

    width: 100vw;
    max-width: $grid-container-width;
    margin: 0 auto;
    .row{
        &::before, &::after {
        content: "";
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
        }
    }

     [class*='col-'] { //mobile first; after 640px columns with will be adjust according to below function
        width: 100%;
        float: none;
        @media #{$breakpoint} { //fn for creating
            @for $i from 1 through $grid-columns{
                col-#{i}{
                    width: $grid-column-width * $i;
                }
            }   
        }
    }
}
