@import 'variables';

.mobile{
    font-size: 40px;
    color: pink;
    display: flex;
    justify-content: flex-start;

    i{
        margin-left: 2%;
        margin-top: 2%;

    }

    @media #{$breakpoint}{
        display: none;
    }
}