@import 'variables';
header {
    background-color: white;
    .logo {
        display: flex;
        justify-content: center;
        img {
            width: 200px;
            height: 200px;
            @media #{$breakpoint} {
                flex-wrap: nowrap;
                width: 300px;
                height: 300px;
            }
        }
    }
}

nav.menu {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
   
    ul{
        width: 95%;
        margin: 0 auto;
        @media #{$breakpoint} {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }  

        li {
        font-size: 16px;
        text-align: center;
        border: 2px solid transparent;
        border-top-color: pink;
        border-bottom-color: pink;

        padding: 1%;
        text-transform: uppercase;
        margin-bottom: 1%;

            @media #{$breakpoint} {
                font-size: 18px;
                width: calc(#{$grid-container-width} / 6);
                border-color: transparent;
                border-left-color: pink;
                border-right-color: pink;

                &:first-of-type{
                    border-left-width: 4px;
                }
                &:last-of-type{
                    border-right-width: 4px;
                }
            }

            a{ 
                color: black;
                text-decoration: none;
                margin-bottom: 1%;

            }
        }
    }

}
