@import 'variables';
header {
    background-color: white;
    .logo {
        display: flex;
        justify-content: center;
        
        img {
            width: 200px;
            height: 200px;
            @media #{$breakpoint} {
                flex-wrap: nowrap;
                width: 300px;
                height: 300px;
            }
        }
    }
}

nav.menu {

    width: 100%;
    display: none;
         @media #{$breakpoint} {
             display: block;
         }
    ul{
        width: 100%;
            @media #{$breakpoint} {
            display: flex;
         }       
        li {
        font-size: 16px;
        text-align: center;
        
        border: 2px solid transparent;
        border-bottom-color: pink;

        padding: 1%;
        text-transform: uppercase;
        margin-bottom: 1%;

            @media #{$breakpoint} {
                font-size: 18px;
                width: 16.66%;
                border-color: transparent;
                border-left-color: pink;
                border-right-color: pink;
                display: inline-block;

                &:nth-of-type(2n){
                    border-color: transparent;
                }
                &:nth-of-type(6){
                    border-right-color: pink;
                }
            }

            a{ 
                color: black;
                text-decoration: none;
                margin-bottom: 1%;

            }
        }
    }

}
