@import 'variables';

.slider_wraper{
    border: 1px solid red;
    overflow: hidden;

    .slider{
        display:flex;
        li{
            width: 100%;
            float: left;
        }
    }
}