@import './reset';
@import './grid';
@import './mobileMenu';
@import './navigation';
@import './slider';
@import './aboutUs';

 *{
    font-family: 'Source Code Pro', monospace;
 }
.navigationFixed{
    width: 100vw;
    position: fixed;
    background-color: white;
    top:0;
    left:0;
    a{
        font-size: 20px;
       
    }
}