@import './reset';
@import './grid';
@import './mobileMenu';
@import './navigation';
@import './slider';
@import './aboutUs';
@import './gallery';

 *{
    font-family: 'Source Code Pro', monospace;
 }
.navigationFixed{
    width: 100vw;
    position: fixed;
    background-color: white;

    a{
        font-size: 20px;
    }
}

section{
        border-top: 2px dashed pink;
        padding-top: 3%;
        margin-top: 1%;
        
        &:first-of-type{
            border: none;
            padding: 0;
        }
}
